<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>pub</th>
            <th>info</th>
            <th>price</th>
            <th>make_price</th>
            <th>op</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.pub }}</td>
                <td>{{ book.info }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.make_price }}</td>
                <td><a href="/books/update/{{ book.id }}">更新</a> <a href="/books/delete/{{ book.id }}">删除</a></td>
            </tr>
        {% endfor %}




















































    </table>
</body>
</html>